
.destination__wrapper {
    background-color: var(--space-black);
    background-image: url('/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__image {
    --image-size: 170px;
    height: var(--image-size);
    width: var(--image-size);
    margin-bottom: 26px;
}

.destination__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__nav {
    display: flex;
    justify-content: space-around;
    width: 238px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.destination__nav-item {
    color: var(--space-purple);
    font-size: 14px;
    letter-spacing: 2.36px;
    text-transform: uppercase;
    margin-right: 26px;
    font-family: var(--barlow-condensed);
}

.destination__nav-item:last-child {
    margin-right: 0;
}

.destination__nav-item--active {
    color: var(--space-white);
    padding-bottom: 8px;
    border-bottom: 3px solid var(--space-white);
}

.destination__heading {
    color: var(--space-white);
    font-size: 56px;
    margin: 0 0 8px 0;
    text-transform: uppercase;
}

.destination__text {
    font-size: 15px;
    color: var(--space-purple);
    line-height: 25px;
    text-align: center;
    margin-top: 0;
}

.destination__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__stat-label {
    font-size: 14px;
    letter-spacing: 2.36px;
    text-transform: uppercase;
    color: var(--space-purple);
    margin: 0 0 12px;
    font-family: var(--barlow-condensed);
    text-align: center;
}

.destination__stat {
    color: var(--space-white);
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 32px 0;
    font-family: var(--bellefair);
    text-align: center;
}

@media (min-width: 768px) {

    .destination__wrapper {
        min-height: 100vh;
        height: 100%;
        background-image: url('/assets/destination/background-destination-tablet.jpg');
    }

    .destination__image {
        --image-size: 300px;
        margin-bottom: 32px;
    }

    .destination__nav {
        margin-bottom: 32px;
    }

    .destination__nav-item {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .destination__heading {
        font-size: 80px;
    }

    .destination__text {
        font-size: 16px;
        max-width: 573px;
        margin-bottom: 33px;
    }

    .destination__stats {
        flex-direction: row;
        width: 573px;
        justify-content: space-around;
    }

}

@media (min-width: 992px) {

    .destination__wrapper {
        background-image: url('/assets/destination/background-destination-desktop.jpg');
        
    }

    .space-title {
        max-width: 100%;
    }

    .destination__content-wrapper {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-self: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .destination__content {
        align-items: start;
    }

    .destination__image {
        --image-size: 445px;
        margin: 0;
    }

    .destination__nav {
        margin-bottom: 37px;
    }

    .destination__heading {
        font-size: 100px;
        margin-bottom: 14px;
    }

    .destination__text {
        text-align: left;
        font-size: 18px;
        margin-bottom: 0;
        line-height: 32px;
        max-width: 444px;
    }

    .destination__stats {
        justify-content: flex-start;
        margin-bottom: 112px;
    }

    .destination__stats div:first-child {
        margin-right: 79px;
    }

    .destination__stat-label, .destination__stat {
        text-align: left;
    }

}
