/* -- Default Styles -- */



.home__wrapper {
    background-image: url('/assets/home/background-home-mobile.jpg');
    background-color: var(--space-black);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home__content-wrapper {
    text-align: center;
    margin: 48px 0 81px;
    max-width: 327px;
}

.home__subheading {
    font-size: 16px;
    letter-spacing: 2.7px;
    color: var(--space-purple);
    margin: 0 0 16px;
}

.home__heading {
    margin: 0 0 16px;
    font-size: 80px;
    line-height: 100px;
    font-weight: 400;
}

.home__content {
    font-size: 15px;
    line-height: 25px;
    color: var(--space-purple);
    margin: 0;
}

.home__button {
    --button-size: 150px;
    height: var(--button-size);
    width: var(--button-size);
    border: 1px solid var(--space-white);
    border-radius: 50%;
}

.home__button--hover {
    --button-hover-size: 241.5px; /*hover div size is 62% larger than the button size */
    background-color: rgba(255, 255, 255, 0.1);
    height: var(--button-hover-size);
    width: var(--button-hover-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-bottom: 48px;
}

.home__button p {
    color: var(--space-black);
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 20px;
}

/* -- Tablet sized devices -- */

@media (min-width: 768px) {

    .home__wrapper {
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    .home__content-wrapper {
        margin: 106px 0 156px;
        max-width: 450px;
    }

    .home__heading {
        font-size: 150px;
        line-height: 150px;
        margin-bottom: 24px;
    }

    .home__subheading {
        font-size: 20px;
        letter-spacing: 3.38px;
        margin-bottom: 24px;
    }

    .home__content {
        font-size: 16px;
        line-height: 28px;
    }

    .home__button {
        --button-size: 242px;
        height: var(--button-size);
        width: var(--button-size);
    }

    .home__button--hover {
        --button-hover-size: 392px;
        height: var(--button-hover-size);
        width: var(--button-hover-size);
        margin-bottom: 90px;
    }

}


/* -- Desktop Devices -- */

@media (min-width: 960px) {

    .home__wrapper {
        background-image: url('/assets/home/background-home-desktop.jpg');
        min-height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .home__content-wrapper {
        text-align: left;
        margin-right: 192px;
    }

    .home__heading {
        margin-bottom: 48px;
    }

    .home__subheading {
        font-size: 28px;
        letter-spacing: 4.72px;
    }

    .home__content {
        font-size: 18px;
        line-height: 32px;
    }

    .home__button {
        --button-size: 274px;
        height: var(--button-size);
        width: var(--button-size);
    }

    .home__button--hover {
        --button-hover-size: 444px;
        height: var(--button-hover-size);
        width: var(--button-hover-size);
        margin-left: 192px;
    }

    .home__button p {
        font-size: 32px;
        letter-spacing: 2px;
    }


}
