

/* -- Navbar -- */

.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 24px 0 0 0;
}

.navbar--blur {
    height: 100%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

.navbar__spacer {
    display: none;
}

.navbar__logo {
    height: 40px;
    width: 40px;
    margin-left: 24px;
}

.navbar__toggle {
    height: 21px;
    width: 24px;
    margin-right: 24px;
}

.navbar__close-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 34px;
    right: 26.5px;
}

.navbar__item {
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 32px;
    letter-spacing: 2.7px;
}

.navbar__link {
    color: var(--space-white);
    text-decoration: none;
}

.navbar__link--bold {
    display: inline;
    margin-right: 12px;
}

/* TODO - add transition properties to the navbar for mobile view */

.navbar {
    position: fixed;
    width: 67%;
    height: 100vh;
    top: 0;
    right: 0;
    margin-top: 0;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media (min-width: 768px) {
 
    /* -- navbar -- */

    .navbar {
        display: flex;
        flex-direction: row;
        width: 450px;
        justify-content: space-between;
        align-items: center;
        padding: 0 48px;
        visibility: visible;
    }

    .navbar--blur {
        height: 100%;
        max-height: 96px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
    }

    .navbar__wrapper {
        height: 96px;
        width: calc(100% - 39px);
        margin-left: 39px;
        margin-top: 0;
    }

    .navbar__toggle {
        display: none;
    }

    .navbar__close-icon {
        display: none;
    }

    .navbar__item {
        list-style: none;
        letter-spacing: 2.36px;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
    
    .navbar__link {
        color: var(--space-white);
        text-decoration: none;
    }
    
    .navbar__link--bold {
        display: none;
    }
    
    /* ! With dropdown added, the hover bar looks weird - will probably remove unless I can think of something to make it work better? */
    /* .navbar__link:hover{
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 39px;
    } */

    .navbar__link:active {
        border-bottom: 3px solid var(--space-white);
    }

    /* Styling for Dropdowns */

    .navbar__dropdown {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(81.5485px);
    }

    .navbar__item:hover .navbar__dropdown {
        display: block;
    }

    .navbar__dropdown-item {
        list-style-type: none;
        padding: 1rem;
        text-align: center;
    }

    .navbar__dropdown-item:hover {
        background: rgba(0, 0, 0, 0.3);
    }

    .navbar__dropdown-item:hover .navbar__dropdown-link {
        color: var(--space-purple);
    }

    .navbar__dropdown-link {
        text-decoration: none;
        color: var(--space-white);
    }

}

@media (min-width: 992px) {

        /* -- Nav -- */

        .navbar__wrapper {
            margin: 40px 0 76px 55px;
            padding: 0px;
            width: calc(100% - 55px);
            position: relative;
        }
    
        .navbar__spacer {
            display: block;
            height: 1px;
            width: 473px;
            background-color: var(--space-white);
            opacity: 0.25;
            position: absolute;
            left: 95px;
            z-index: 10;
        }
    
        .navbar {
            height: 96px;
            width: 830px;
            display: flex;
            justify-content: center;
            position: absolute;
        }
    
        .navbar__item {
            padding-right: 48px;
            font-size: 16px;
        }
    
        .navbar__item:last-child {
            padding-right: 0;
        }
    
        .navbar__link--bold {
            display: inline;
            font-weight: bold;
            margin-right: 12px;
        }

}