
/* -- Technology Page -- */

.technology__wrapper {
    background-image: url("assets/technology/background-technology-mobile.jpg");
    background-color: var(--space-black);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Reordering the content blocks for mobile. Had to add display:flex to allow order property to work */

.technology__content-wrapper {
    display: flex;
    flex-direction: column;
}

.technology__hero-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 34px;
    order: 1;
}

.technology__desktop-hero-img {
    display: none;
}

.technology__slider-num-wrapper {
    display: flex;
    width: 152px;
    justify-content: space-around;
    margin: 0 auto 26px;
    order: 2;
}

.technology__slider-num {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--space-white);
}

.technology__slider-num--active {
    background-color: var(--space-white);
    color: var(--space-black);
}

.technology__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 24px 81px;
    order: 3;
}

.technology__subheading {
    font-size: 14px;
    color: var(--space-purple);
    letter-spacing: 2.36px;
    text-transform: uppercase;
    line-height: 17px;
}

.technology__heading {
    font-size: 28px;
    color: var(--space-white);
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 400;
}

.technology__text {
    color: var(--space-purple);
    text-align: center;
    line-height: 25px;
    margin: 0;
}


/* -- Media Queries -- */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .technology__wrapper {
        background-image: url(/assets/technology/background-technology-tablet.jpg);
    }

    .technology__hero-img {
        height: 310px;
        margin-bottom: 56px;
    }

    .technology__slider-num-wrapper {
        width: 210px;
        height: 60px;
        margin-bottom: 44px;
    }

    .technology__slider-num {
        height: 58px;
        width: 58px;
    }

    .technology__content-wrapper {
        align-items: center;
    }

    .technology__content {
        max-width: 458px;
    }

    .technology__subheading {
        font-size: 16px;
        letter-spacing: 2.7px;
        margin-bottom: 16px;
    }

    .technology__heading {
        font-size: 40px;
    }

    .technology__text {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (min-width: 992px) {

    /* -- Technology -- */

    .technology__wrapper {
        background-image: url(/assets/technology/background-technology-desktop.jpg);
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    

    .technology__content-wrapper {
        flex-direction: row;
        width: 100%;
    }

    .technology__hero-img {
        display: none;
    }

    .technology__desktop-hero-img {
        grid-area: img;
        display: block;
        width: 515px;
        height: 527px;
        margin: 0 0 0 auto;
        order: 0;
    }

    .technology__slider-num-wrapper {
        grid-area: slider;
        flex-direction: column;
        height: 277px;
        align-items: flex-end;
        margin-bottom: 0;
        flex-basis: 247px;
        order: 0;
    }
    /* TODO - what is the container height for this? There is no container around circles on desktop view */

    .technology__slider-num-wrapper:last-child {
        margin-bottom: none;
    }

    .technology__slider-num {
        height: 80px;
        width: 80px;
        margin-bottom: 32px;
    }

    

    .technology__content {
        align-items: flex-start;
        flex-basis: 486px;
        max-width: 100%;
        margin: 0 0 0 80px;
        order: 0;
    }

    .technology__heading {
        font-size: 56px;
        margin: 11px 0 17px 0;
    }

    .technology__text {
        text-align: left;
        font-size: 18px;
        line-height: 32px;
    }


}

@media (min-width: 1600px) {


    
}
